:root {
    --accent-color: #7BC5C6;
}

body {
    background-image: url("pix/donutwolf.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana, sans-serif;
}

header h1 {
    color: var(--accent-color);
    text-align: center;
    font-size: 30pt;
}

h3 {
    color: var(--accent-color);
}

h2 {
    color: var(--accent-color);
}

p {
    color: var(--accent-color);
}

div {
    border-radius: 10px;
}

#container {
    max-width: 800px;
    margin: auto;
}

#who {
    display: flex;
    font-size: 13pt;
}

header {
    margin: auto;
}

nav {
    border: 2px solid var(--accent-color);
    background: black;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #c6d0f5;
}

nav a {
    background-color: var(--accent-color);
    padding: 5px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
    margin: 3px auto;
    border: 1px solid var(--accent-color);
}

nav a:hover {
    background-color: black;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

@media (max-width: 550px) {
    #who {
      flex-direction: column;
    }
  }

article {
    border: 2px solid var(--accent-color);
    background: black;
    margin: 0 auto;
    color: #c6d0f5;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer {
    border: 2px solid var(--accent-color);
    background: black;
    margin: 0 auto;
    color: #c6d0f5;
    padding: 20px;
    text-align: center;
}

a {
    color: #f4b8e4;
}

dt {
    font-weight: bold;
}